<!--pages/codeLogin/codeLogin.wxml-->
<image class="logo" src="../../img/logo.png"></image>
<view class="hint">扫描二维码已完成</view>
<button class="com_btn btn" open-type="getPhoneNumber" bindgetphonenumber="getPhoneNumber">授权</button>
<view class="register" bindtap="toRegister">
  <image class="right_img" src="../../img/right_arrows"></image>
  <text>去注册</text>
</view>