/* pages/staffAddCommu/staffAddCommu.wxss */

.wrap {
  padding-left: 46rpx;
}

.theme {
  display: flex;
  height: 116rpx;
  align-items: center;
  font-size: 30rpx;
  border-bottom: 2rpx solid #ededed;
  justify-content: space-between;
  padding-right: 18rpx;
}

.in {
  text-align: right;
  flex: 1;
  font-size: 28rpx;
}

.info_label {
  font-size: 30rpx;
  padding: 38rpx 0 24rpx 0;
  line-height: 42rpx;
}

.info {
  box-sizing: border-box;
  width: 658rpx;
  min-height: 422rpx;
  background: rgba(247, 247, 247, 1);
  border-radius: 8rpx;
  padding: 30rpx 36rpx;
  font-size: 28rpx;
  margin-bottom: 38rpx;
}

.file {
  display: flex;
  height: 116rpx;
  align-items: center;
  border-bottom: 2rpx solid #ededed;
  border-top: 2rpx solid #ededed;
  justify-content: space-between;
  padding-right: 46rpx;
}

.file_l {
  display: flex;
  height: 100%;
  align-items: center;
  font-size: 30rpx;
}

.file_desc {
  font-size: 28rpx;
  color: #808080;
  margin-left: 38rpx;
}

.file_btn {
  width: 180rpx;
  height: 60rpx;
  text-align: center;
  line-height: 60rpx;
  font-size: 28rpx;
}

.btn_wrap {
  display: flex;
  justify-content: center;
  margin-top: 76rpx;
}

.cancel_btn {
  width: 280rpx;
  height: 92rpx;
  background: rgba(217, 217, 217, 1);
  box-shadow: 4rpx 4rpx 12rpx 4rpx rgba(209, 209, 209, 0.63);
  border-radius: 50rpx;
  text-align: center;
  line-height: 92rpx;
  color: #808080;
  font-size: 32rpx;
  margin-right: 64rpx;
}

.comfrim {
  width: 280rpx;
  height: 92rpx;
  text-align: center;
  line-height: 92rpx;
}
