<!--pages/commuDetailList/commuDetailList.wxml-->
<view class="top">
  <view class="title">{{name}}</view>
  <view class="name">{{empname}}</view>
</view>
<view class="grap"></view>
<view class="list" wx:for="{{channel}}">
  <view class="time">{{item.lastmodified}}</view>
  <view class="info">{{item.comments}}</view>
</view>
<view class="com_btn btn" catchtap="toChat" data-channelid="{{channel[0].channelid}}" data-employeeid="{{channel[0].employeeid}}">建立沟通</view>