/* pages/intlTanlMange/intlTanlMange.wxss */
.wrap{
  width:710rpx;
  margin: 0 auto;
  padding-bottom: 98rpx;
  overflow: hidden;
}
.search_wrap{
  display: flex;
  width:710rpx;
height:64rpx;
background:rgba(237,236,236,1);
border-radius:32rpx;
align-items: center;
margin: 28rpx 0 10rpx 0;
box-sizing: border-box;
}
.search_img{
  width:38rpx;
height:33rpx;
margin: 0 22rpx;
}
.search_in{
  flex: 1;
  font-size: 26rpx;
  margin-left: 19rpx;
}
.list{
  display: flex;
  height: 156rpx;
  justify-content: space-between;
  align-items: center;
  color:rgba(51,51,51,1);
  border-bottom: 2rpx solid #EDEDED;
}
.name{
  font-size:36rpx;
line-height:50rpx;
margin-bottom: 8rpx;
}
.info{
  font-size:30rpx;
  line-height:42rpx;
}
.list_r{
  width: 26rpx;
  height: 36rpx;
}
.nav_outer {
  position: fixed;
  left: 0;
  bottom: 0;
}



.nav {
  width: 25%;
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 26rpx;
  color: rgba(128, 128, 128, 1);
}

.home {
  width: 40rpx;
  height: 40rpx;
}

.massage {
  width: 48rpx;
  height: 48rpx;
}

.nav_choose_text {
  color: rgba(252, 139, 72, 1);
}
.share_hint{
  position: absolute;
  right: 126rpx;
  top: 30rpx;
  width: 152rpx;
  height: 120rpx;
  z-index: 56;
}
.share_hint_txt{
  position: absolute;
  right: 44rpx;
  font-size: 32rpx;
  color: #fff;
  top: 77rpx;
  z-index: 66;
}
.hint_label1{
  text-align: center;
  font-size: 40rpx;
  line-height: 60rpx;
  padding: 0 0 38rpx 0;
}
.hint_label2{
  text-align: center;
  font-size: 30rpx;
  line-height: 42rpx;
  padding-bottom: 12rpx;
}
.hint_label3{
  text-align: center;
  font-size: 30rpx;
  line-height: 42rpx;
}
.hint_btn{
  display: block;
  width: 248rpx;
  height: 90rpx;
  margin: 80rpx auto 0;
}
.wechat_code{
  display: block;
  width:176rpx;
height:172rpx;
margin: 146rpx auto 142rpx;
}
.remain_numbers {
  position: absolute;
  width: 44rpx;
  height: 26rpx;
  background: rgba(252, 72, 72, 1);
  border-radius: 13rpx;
  text-align: center;
  line-height: 26rpx;
  color: #fff;
  font-size: 20rpx;
  left: 487rpx;
  top: 4rpx;
}