/* pages/messageDetail/messageDetail.wxss */

page {
  background: #f2f2f2;
}

.wrap {
  padding-bottom: 100rpx;
}

.sys {
  display: flex;
  padding: 30rpx 0 0 20rpx;
}

.avatar {
  width: 88rpx;
  height: 88rpx;
  border-radius: 44rpx;
  margin-right: 28rpx;
  flex-shrink: 0;
}

.sys_info {
  position: relative;
  width: 554rpx;
  background: rgba(255, 255, 255, 1);
  border-radius: 16rpx;
  padding: 36rpx;
  box-sizing: border-box;
  font-size: 30rpx;
  line-height: 42rpx;
}

.left_img {
  position: absolute;
  width: 16rpx;
  height: 42rpx;
  top: 16rpx;
  left: -12rpx;
}

.wrap {
  padding-top: 30rpx;
}

.item_l {
  display: flex;
  padding-left: 20rpx;
  margin-bottom: 66rpx;
}

.item_l_info {
  position: relative;
  width: 485rpx;
  box-sizing: border-box;
  background: rgba(255, 255, 255, 1);
  border-radius: 16rpx;
  padding: 26rpx;
}

.item_r {
  display: flex;
  flex-direction: row-reverse;
  padding-right: 20rpx;
  margin-bottom: 66rpx;
}

.item_r_info {
  position: relative;
  width: 485rpx;
  box-sizing: border-box;
  background: #ffece0;
  border-radius: 16rpx;
  padding: 26rpx;
}

.item_r .avatar {
  margin-right: 0;
  margin-left: 30rpx;
}

.right_img {
  position: absolute;
  width: 16rpx;
  height: 42rpx;
  top: 18rpx;
  right: -12rpx;
}

.in_wrap {
  position: fixed;
  width: 100%;
  left: 0;
  bottom: 0;
  min-height: 80rpx;
  background: #fff;
}

.in {
  width: 616rpx;
  margin: 20rpx auto;
  background: rgba(245, 246, 248, 1);
  border-radius: 8rpx;
  border: 1rpx solid rgba(221, 222, 226, 1);
  font-size: 30rpx;
  padding: 20rpx;
}

.intro_list {
  position: relative;
  margin-top: 10rpx;
}

.intro_list_img {
  display: block;
  width: 100%;
  height: 146rpx;
}

.intro_list_label {
  position: absolute;
  left: 50%;
  top: 50%;
  color: #fff;
  font-size: 34rpx;
  transform: translate(-50%, -50%);
}

.msg_mask {
  background: rgba(0, 0, 0, 0.2);
}

.post_wrap {
  width: 686rpx;
  box-sizing: border-box;
  height: 994rpx;
  margin: 32rpx auto 0;
  background: rgba(255, 255, 255, 1);
  box-shadow: 6rpx 4rpx 8rpx 4rpx rgba(168, 168, 168, 0.5);
  border-radius: 16rpx;
  overflow: auto;
  padding: 10rpx 0 10rpx 32rpx;
}
.post_item{
  border-bottom: 2rpx solid #EDEDED;
}
.post_ask{
  font-size: 30rpx;
  line-height: 42rpx;
  padding-top: 38rpx;
  padding-right: 40rpx;
}
.post_answer{
  font-size: 28rpx;
  color: #808080;
  line-height: 40rpx;
  padding: 24rpx 40rpx 26rpx 0;
}
.post_close{
  width: 92rpx;
  height: 92rpx;
  margin: 24rpx auto 0;
  position: relative;
}
.post_close_outer{
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}
.post_close_inner{
  position: absolute;
  width: 42rpx;
  height: 42rpx;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}
.company_ads{
  display: block;
  width:686rpx;
height:790rpx; 
margin: 144rpx auto 0;
}
.user_intro{
  display: block;
  margin: 25% auto 0;
}
.detail {
  width: 636rpx;
  height:650rpx;
  margin: 25% auto 0;
  background: rgba(255, 254, 254, 1);
  box-shadow: 6rpx 4rpx 12rpx 6rpx rgba(110, 115, 249, 0.14);
  border-radius: 18rpx;
  padding: 30rpx 22rpx 30rpx 30rpx;
  box-sizing: border-box;
  font-size: 30rpx;
  line-height: 43rpx;
}

.detail_title {
  font-size: 36rpx;
  line-height: 50rpx;
  text-align: center;
  padding-bottom: 10rpx;
}

.detail_info {
  font-size: 30rpx;
  color: #808080;
  line-height: 46rpx;
  margin-bottom: 56rpx;
  padding-left: 26rpx;
}
  .item_0{
  color: #F39F9F;
}
.item_{
  color: #EBBA35;
}
.item_2{
  color: #EB3535;
}
.item_3{
  color: #6FCEFF;
}
.item_4{
  color: #E699FF;
}
.item_5{
  color: #AF99FF;
}
.item_6{
  color: #A94FB1;
}
.item_7{
  color: #3D64A7;
}
.item_8{
  color: #CE465E;
}
.item_9{
  color: #46CE9E;
}
.item_10{
  color: rgb(159, 181, 243);
}
.item {
  background: #fff;
  padding-left: 24rpx;
  color: rgba(51, 51, 51, 1);
  width: 698rpx;
  border-bottom: 2rpx solid #f2f2f2;
  margin: 0 auto;
  position: relative;
}

.name {
  font-size: 36rpx;
  line-height: 50rpx;
  padding: 30rpx 0 18rpx 0;
}

.info {
  font-size: 30rpx;
  line-height: 42rpx;
  margin-bottom: 64rpx;
}

.phone {
  display: flex;
  align-items: center;
  font-size: 30rpx;
  margin-bottom: 14rpx;
}

.phone_img {
  width: 36rpx;
  height: 48rpx;
  margin-right: 24rpx;
}

.email {
  display: flex;
  align-items: center;
  font-size: 30rpx;
  padding-bottom: 16rpx;
}

.email_img {
  width: 40rpx;
  height: 40rpx;
  margin-right: 22rpx;
}

.item_label {
  font-size: 34rpx;
  line-height: 48rpx;
  padding: 28rpx 0 0 0;
}

.edu_item {
  display: flex;
  padding: 30rpx 0 26rpx 0;
  margin-left: 4rpx;
  border-bottom: 2rpx solid #f2f2f2;
}

.edu_item:last-child {
  border-bottom: none;
  padding-bottom: 48rpx;
}

.edu_img {
  width: 128rpx;
  height: 128rpx;
  border-radius: 64rpx;
  margin: 14rpx 54rpx 0 0;
}

.edu_name {
  font-size: 34rpx;
  line-height: 48rpx;
}

.edu_pro {
  font-size: 28rpx;
  color: rgba(128, 128, 128, 1);
  line-height: 40rpx;
  padding: 24rpx 0 2rpx 0;
}

.edu_time {
  font-size: 28rpx;
  font-weight: 400;
  color: rgba(128, 128, 128, 1);
  line-height: 40rpx;
}

.comp_item {
  padding: 34rpx 24rpx 28rpx 0;
  border-bottom: 2rpx solid #f2f2f2;
}

.comp_item:last-child {
  border-bottom: none;
}

.workep_top {
  display: flex;
  align-items: center;
  margin-bottom: 24rpx;
}

.comp_img {
  width: 128rpx;
  height: 128rpx;
  border-radius: 64rpx;
  margin-right: 54rpx;
}

.comp_pro {
  font-size: 34rpx;
  line-height: 48rpx;
}

.comp_name {
  font-size: 28rpx;
  color: rgba(128, 128, 128, 1);
  line-height: 40rpx;
  padding: 6rpx 0 2rpx 0;
}

.comp_time {
  font-size: 28rpx;
  color: rgba(128, 128, 128, 1);
  line-height: 40rpx;
}

.comp_label {
  font-size: 30rpx;
  line-height: 42rpx;
  margin-bottom: 10rpx;
}

.comp_info {
  font-size: 30rpx;
  color: rgba(128, 128, 128, 1);
  line-height: 42rpx;
}

.cert_item {
  display: flex;
  padding: 18rpx 28rpx 40rpx 0;
  border-bottom: 2rpx solid #f2f2f2;
}

.cert_item:last-child {
  border-bottom: none;
}

.cert_img {
  flex-shrink: 0;
  width: 240rpx;
  height: 168rpx;
  margin-right: 36rpx;
}

.cert_label {
  font-size: 28rpx;
  line-height: 40rpx;
  margin-bottom: 16rpx;
}

.cert_desc {
  font-size: 28rpx;
  color: rgba(128, 128, 128, 1);
  line-height: 40rpx;
}

.prof_titel {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 38rpx;
  padding: 34rpx 20rpx 34rpx 0;
  height: 52rpx;
}

.prof_status {
  font-size: 30rpx;
  color: #808080;
}

.prof_content {
  display: flex;
  justify-content: space-between;
  font-size: 30rpx;
  color: #808080;
  padding-right: 10rpx;
}

.prof_job {
  color: #333;
  line-height: 42rpx;
}

.prof_loaction {
  line-height: 42rpx;
  padding: 14rpx 0;
}

.prof_indus {
  padding-bottom: 8rpx;
}

.project_item {
  padding-top: 34rpx;
  border-bottom: 2rpx solid #f2f2f2;
  padding-bottom: 20rpx;
}

.project_title {
  display: flex;
  line-height: 48rpx;
  justify-content: space-between;
  align-items: center;
  font-size: 34rpx;
  color: #fc8b48;
}

.project_role {
  font-size: 28rpx;
  line-height: 40rpx;
  color: #808080;
}

.project_time {
  font-size: 28rpx;
  line-height: 40rpx;
  color: #808080;
}

.project_duty {
  font-size: 28rpx;
  line-height: 40rpx;
  color: #808080;
  padding: 12rpx 0;
}

.project_label {
  font-size: 30rpx;
  line-height: 42rpx;
  padding: 24rpx 0 10rpx 0;
}

.project_content {
  font-size: 30rpx;
  line-height: 42rpx;
  color: #808080;
}

.lang_item {
  padding: 34rpx 0 20rpx 0;
  border-bottom: 2rpx solid #f2f2f2;
}

.lang_title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  line-height: 40rpx;
  font-size: 28rpx;
  padding-bottom: 16rpx;
}

.lang_info {
  font-size: 28rpx;
  color: #808080;
  line-height: 40rpx;
}

.self {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.self_info {
  font-size: 28rpx;
  line-height: 40rpx;
  padding: 34rpx 0 32rpx 0;
}

.train_item {
  padding: 34rpx 0 20rpx 0;
  border-bottom: 2rpx solid #f2f2f2;
}

.train_title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  line-height: 48rpx;
  font-size: 34rpx;
}

.train_time {
  font-size: 28rpx;
  line-height: 40rpx;
  padding: 24rpx 0 2rpx 0;
  color: #808080;
}

.train_info {
  font-size: 28rpx;
  line-height: 40rpx;
  color: #808080;
}

.project_company {
  font-size: 30rpx;
  line-height: 42rpx;
  padding: 8rpx 0 16rpx 0;
}
.user_info_mask{
  overflow: auto;
}
.company_opr_wrap{
  overflow: hidden;
  height: 624rpx;
}
.user_opr_wrap{
   overflow: hidden;
  height: 312rpx;
}
.toggle_wrap{
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  height: 62rpx;
  background: #fff;
  padding-right: 16rpx;
}
.toggle_img{
  width: 36rpx;
  height: 36rpx;
}
.item_avatar{
  position: absolute;
  top: 20rpx;
  right: 20rpx;
  width: 120rpx;
  height: 120rpx;
  border-radius: 60rpx;
}