/* pages/interTanlantInfo/interTanlantInfo.wxss */

/* page {
  background: #f2f2f2;
}

.item {
  background: #fff;
  padding-left: 24rpx;
  color: #333;
  margin-bottom: 16rpx;
}

.name {
  font-size: 36rpx;
  line-height: 50rpx;
  padding: 30rpx 0 16rpx 0;
}

.info {
  font-size: 30rpx;
  line-height: 42rpx;
  padding-bottom: 30rpx;
}

.pro_label {
  font-size: 34rpx;
  font-weight: 400;
  line-height: 48rpx;
  padding: 30rpx 0 0 0;
}

.pro_info {
  font-size: 30rpx;
  line-height: 42rpx;
  border-bottom: 2rpx solid #f2f2f2;
  padding-bottom: 30rpx;
}

.pro_title {
  font-size: 34rpx;
  font-weight: 400;
  line-height: 48rpx;
  padding-bottom: 20rpx;
  padding-top: 30rpx;
}

.pro_img_list {
  display: flex;
  flex-wrap: wrap;
}

.pro_img {
  width: 240rpx;
  height: 168rpx;
  margin-right: 14rpx;
  margin-bottom: 32rpx;
}

.character_label {
  font-size: 34rpx;
  font-weight: 400;
  line-height: 48rpx;
  margin-bottom: 20rpx;
  padding-top: 30rpx;
}

.character_lis,.ability_li {
  display: flex;
  flex-wrap: wrap;
  border-bottom: 2rpx solid #F2F2F2;
}

.character_item,.ability_item {
  height: 60rpx;
  border-radius: 30rpx;
  padding: 0 38rpx;
  border: 2rpx solid rgba(204, 204, 204, 1);
  line-height: 54rpx;
  font-size:30rpx;
  color:rgba(128,128,128,1);
  margin: 0 20rpx 30rpx 0;
}
.ability_label{
  font-size: 34rpx;
  font-weight: 400;
  line-height: 48rpx;
  margin-bottom: 20rpx;
  padding-top: 30rpx;
}
.specialty_label{
   font-size: 34rpx;
  font-weight: 400;
  line-height: 48rpx;
  margin-bottom: 14rpx;
  padding-top: 30rpx;
}
.specialty_desc{
  width:702rpx;
font-size:30rpx;
font-family:PingFangSC-Regular,PingFang SC;
font-weight:400;
color:rgba(128,128,128,1);
line-height:42rpx;
padding-bottom: 44rpx;
}
.item_li{
  display: flex;
  font-size: 34rpx;
  line-height:48rpx;
  padding-bottom: 20rpx;
}
.item_li_wrap{
  padding: 30rpx 0 10rpx 24rpx;
}
.item_li_label{
  width: 204rpx;
  margin-right: 96rpx;
  flex-shrink: 0;
}
.item_li_info{
  color: #FC8B48;
}
.assess{
  position: relative;
  padding-top: 30rpx;
}
.assess_btn{
  position: absolute;
  width:168rpx;
height:56rpx;
border-radius:28rpx;
right: 26rpx;
top: 26rpx;
line-height: 56rpx;
text-align: center;
font-size:28rpx;
}
.good_at_label{
  font-size:34rpx;
  font-weight:400;
  line-height:48rpx;
  margin-bottom: 14rpx;
}
.good_at_info{
  width:702rpx;
font-size:30rpx;
font-family:PingFangSC-Regular,PingFang SC;
font-weight:400;
color:rgba(128,128,128,1);
padding-bottom: 20rpx;
line-height:42rpx;
}
.item_li_label_type{
  width: 222rpx;
  margin-right: 80rpx;
} */
page {
  background: #f2f2f2;
}

.item {
  background: #fff;
  padding-left: 24rpx;
  margin-bottom: 18rpx;
  color: rgba(51, 51, 51, 1);
}

.name {
  font-size: 36rpx;
  line-height: 50rpx;
  padding: 30rpx 0 18rpx 0;
}

.info {
  font-size: 30rpx;
  line-height: 42rpx;
  margin-bottom: 64rpx;
}

.phone {
  display: flex;
  align-items: center;
  font-size: 30rpx;
  margin-bottom: 14rpx;
}

.phone_img {
  width: 36rpx;
  height: 48rpx;
  margin-right: 24rpx;
}

.email {
  display: flex;
  align-items: center;
  font-size: 30rpx;
  padding-bottom: 16rpx;
}

.email_img {
  width: 40rpx;
  height: 40rpx;
  margin-right: 22rpx;
}

.item_label {
  font-size: 34rpx;
  line-height: 48rpx;
  padding: 28rpx 0 0 0;
}

.edu_item {
  display: flex;
  padding: 30rpx 0 26rpx 0;
  margin-left: 4rpx;
  border-bottom: 2rpx solid #f2f2f2;
}

.edu_item:last-child {
  border-bottom: none;
  padding-bottom: 48rpx;
}

.edu_img {
  width: 128rpx;
  height: 128rpx;
  border-radius: 64rpx;
  margin: 14rpx 54rpx 0 0;
}

.edu_name {
  font-size: 34rpx;
  line-height: 48rpx;
}

.edu_pro {
  font-size: 28rpx;
  color: rgba(128, 128, 128, 1);
  line-height: 40rpx;
  padding: 24rpx 0 2rpx 0;
}

.edu_time {
  font-size: 28rpx;
  font-weight: 400;
  color: rgba(128, 128, 128, 1);
  line-height: 40rpx;
}

.comp_item {
  padding: 34rpx 24rpx 28rpx 0;
  border-bottom: 2rpx solid #f2f2f2;
}
.comp_item:last-child{
  border-bottom: none;
}
.workep_top {
  display: flex;
  align-items: center;
  margin-bottom: 24rpx;
}

.comp_img {
  width: 128rpx;
  height: 128rpx;
  border-radius: 64rpx;
  margin-right: 54rpx;
}

.comp_pro {
  font-size: 34rpx;
  line-height: 48rpx;
}

.comp_name {
  font-size: 28rpx;
  color: rgba(128, 128, 128, 1);
  line-height: 40rpx;
  padding: 6rpx 0 2rpx 0;
}

.comp_time {
  font-size: 28rpx;
  color: rgba(128, 128, 128, 1);
  line-height: 40rpx;
}

.comp_label {
  font-size: 30rpx;
  line-height: 42rpx;
  margin-bottom: 10rpx;
}

.comp_info {
  font-size: 30rpx;
  color: rgba(128, 128, 128, 1);
  line-height: 42rpx;
}
.cert_item{
  display: flex;
  padding: 18rpx 28rpx 40rpx 0;
  border-bottom: 2rpx solid #f2f2f2;
}
.cert_item:last-child{
  border-bottom: none;
}
.cert_img{
  flex-shrink: 0;
  width:240rpx;
height:168rpx;
margin-right: 36rpx;
}
.cert_label{
  font-size:28rpx;
  line-height:40rpx;
  margin-bottom: 16rpx;
}
.cert_desc{
  font-size:28rpx;
  color:rgba(128,128,128,1);
line-height:40rpx;
}