<!--pages/companyUploadImg/companyUploadImg.wxml-->
<view class="label">请上传美图（最多上传5张）</view>
<view class="img_wrap">
  <view class="img_item_wrap" wx:for="{{arr}}"  wx:key="{{item.id}}">
    <image src="{{'https://futurenext.com.cn/'+item.ads_file}}" class="item_img"></image>
    <image class="item_delete" src="../../img/delete_img.png" data-id="{{item.id}}" data-num="{{index}}" bindtap="deleteImg"></image>
  </view>
</view>
<view class="upload_wrap" bindtap="upload" wx:if="{{arr.length<5}}">
  <image class="add_img" src="../../img/add_img.png"></image>
  <!-- <image class="upload_img" src="{{licenseImg}}"></image> -->
</view>
<view class="hint_txt">建议上传尺寸：750*236</view>
<!-- <view class="com_btn btn" bindtap="comfrin">确定</view> -->
