<!--pages/answerResult/answerResult.wxml-->
<view class="wrap">
  <view class="info_wrap">
    <view class="title">
      <text class="title_info">测试结果</text>
      <image class="title_bg" src="../../img/background2.png"></image>
    </view>
    <view class="detail">
      <view class="detail_title">性格标签——{{result.flag}}
      </view>
      <view class="detail_info">
       <view class="item_0" wx:if="{{result.label01}}">{{result.label01}}</view>
       <view class="item_1" wx:if="{{result.label02}}">{{result.label02}}</view>
       <view class="item_2" wx:if="{{result.label03}}">{{result.label03}}</view>
       <view class="item_3" wx:if="{{result.label04}}">{{result.label04}}</view>
       <view class="item_4" wx:if="{{result.label05}}">{{result.label05}}</view>
       <view class="item_5" wx:if="{{result.label06}}">{{result.label06}}</view>
       <view class="item_6" wx:if="{{result.label07}}">{{result.label07}}</view>
       <view class="item_7" wx:if="{{result.label08}}">{{result.label08}}</view>
       <view class="item_8" wx:if="{{result.label09}}">{{result.label09}}</view>
       <view class="item_9" wx:if="{{result.label10}}">{{result.label10}}</view>
       <view class="item_10" wx:if="{{result.label11}}">{{result.label11}}</view>
      </view>
    </view>
  </view>
  <view class="btn_wrap" >
    <view class="com_btn btn_item btn_item_first" bindtap="update">重新测试</view>
    <navigator wx:if="{{testType}}" open-type="redirect" url="/pages/personalMy/personalMy" class="com_btn btn_item">关闭</navigator>
    <navigator wx:if="{{!testType}}" open-type="redirect" url="/pages/staffMy/staffMy" class="com_btn btn_item">关闭</navigator>
  </view>
  <image class="bg" src="../../img/background3.png"></image>
</view>