/* pages/jobApplyHistory/jobApplyHistory.wxss */

page {
  background: #f2f2f2;
}
.gap{
  height: 132rpx;
}
.nav_wrap_job {
  position: fixed;
  height: 116rpx;
  background: rgba(255, 255, 255, 1);
  width: 100%;
  font-size: 30rpx;
  z-index: 98;
}

.nav_ul {
  display: flex;
  height: 100%;
  justify-content: space-around;
  line-height: 116rpx;
}

.current_nav {
  border-bottom: 4rpx solid #fc8b48;
}

.content {
  padding-left: 32rpx;
  background: #fff;
}

.list {
  display: flex;
  align-items: center;
  height: 212rpx;
  position: relative;
  border-bottom: 2rpx solid #ededed;
  padding-right: 40rpx;
}

.list_img {
  width: 132rpx;
  height: 132rpx;
  margin-right: 36rpx;
  flex-shrink: 0;
}

.pro {
  font-size: 32rpx;
  line-height: 44rpx;
}

.company {
  color: rgba(128, 128, 128, 1);
  line-height: 40rpx;
  padding: 4rpx 0 12rpx 0;
  font-size: 28rpx;
}

.requirements {
  line-height: 40rpx;
  font-size: 28rpx;
}

.cancel {
  position: absolute;
  top: 20rpx;
  right: 20rpx;
  width: 116rpx;
  height: 56rpx;
  border-radius: 28rpx;
  line-height: 56rpx;
  text-align: center;
  font-size: 28rpx;
}
