<!--pages/talentTest/talentTest.wxml-->
<view class="wrap">
  <view class="item" bindtap="toDetail" wx:for="{{exam}}" wx:key="{{item.id}}" data-id="{{item.examid}}" data-name="{{item.name}}">
    <view class="inner" bindtouchstart="touchS" bindtouchmove="touchM" bindtouchend="touchE" data-index="{{index}}" style="{{item.txtStyle}}">
      <view class="top">
        <view class="id">ID：{{item.id}}</view>
        <view class="name">主题：{{item.name}}</view>
      </view>
      <view class="info">
        <view class="start">生效日期: {{item.valid_date}}</view>
        <view class="end">结束日期: {{item.invalid_date}}</view>
        <view class="info_bo">
          <view class="partment">部门: {{item.scope}}</view>
          <view class="join">
            <view class="join_label">当前参与人数：</view>
            <view class="join_num">{{item.employee_number}}</view>
          </view>
        </view>
        <view class="code_wrap" catchtap="toShare" data-company="{{companyId}}" data-exam="{{item.examid}}">
          <text>二维码</text>
          <image class="code"></image>
        </view>
      </view>
    </view>
    <view class="del_drop" data-index="{{index}}" catchtap="delItem">
      <image src="../../img/delete@2x.png" class="del_drop_img"></image>
      <view>删除</view>
    </view>
  </view>
  <image class="add" src="../../img/addnormal.png" bindtap="addTest"></image>
</view>
<view class="mask" wx:if="{{confirmDeleteShow}}">
  <view class="del_comfirn_wrap">
    <view class="del_comfirn_label">是否确认删除</view>
    <image class="del_comfirn_close" src="../../img/close.png" bindtap="confirmDeleteToggle" data-status="2"></image>
    <view class="del_comfirn_hint">注意保存重要的数据信息， 以免造成损失，后果自负。 是否继续删除？
    </view>
    <view class="del_comfirn_btn">
      <view class="del_comfirn_cancel" bindtap="confirmDeleteToggle" data-status="2">取消</view>
      <view class="com_btn del_comfirn_done" bindtap="confirmDelete">删除</view>
    </view>
  </view>
</view>
<!-- <view class="nav_outer">
  <view class="nav_wrap">
    <navigator class="nav" url="/pages/intlTanlMange/intlTanlMange" open-type="redirect">
      <image class="home" src="../../img/home.png"></image>
      <text>人才库</text>
    </navigator>
    <navigator class="nav" url="/pages/intelCommu/intelCommu" open-type="redirect">
      <image class="home" src="../../img/communication.png"></image>
      <text>沟通桥</text>
    </navigator>
    <navigator class="nav nav_choose_text">
      <image class="massage" src="../../img/stafftest.png"></image>
      <text>测试</text>
    </navigator>
    <navigator class="nav" url="/pages/companyMy/companyMy" open-type="redirect">
      <image class="massage" src="../../img/me.png"></image>
      <text>我的</text>
    </navigator>
  </view>
</view> -->