/* pages/userMoreInfo/userMoreInfo.wxss */
.item {
  width: 698rpx;
  margin: 0 auto 18rpx;
  background: #fff;
  padding-left: 24rpx;
  color: rgba(51, 51, 51, 1);
}

.garp {
  width: 100%;
  height: 18rpx;
  background: #f2f2f2;
}

.name {
  display: flex;
  justify-content: space-between;
  font-size: 36rpx;
  line-height: 50rpx;
  padding: 30rpx 20rpx 18rpx 0;
}

.edit {
  font-size: 30rpx;
  color: #fc8b48;
}

.info {
  font-size: 30rpx;
  line-height: 42rpx;
  margin-bottom: 64rpx;
}

.phone {
  display: flex;
  align-items: center;
  font-size: 30rpx;
  margin-bottom: 14rpx;
}

.phone_img {
  width: 36rpx;
  height: 48rpx;
  margin-right: 24rpx;
}

.email {
  display: flex;
  align-items: center;
  font-size: 30rpx;
  padding-bottom: 16rpx;
}

.email_img {
  width: 40rpx;
  height: 40rpx;
  margin-right: 22rpx;
}

.item_label {
  font-size: 34rpx;
  line-height: 48rpx;
  padding: 28rpx 0 0 0;
}

.edu_item {
  display: flex;
  padding: 30rpx 20rpx 26rpx 0;
  margin-left: 4rpx;
  border-bottom: 2rpx solid #f2f2f2;
  justify-content: space-between;
}

.edu_item_l {
  display: flex;
}

.edu_item:last-child {
  border-bottom: none;
  padding-bottom: 48rpx;
}

.edu_img {
  width: 128rpx;
  height: 128rpx;
  border-radius: 64rpx;
  margin: 14rpx 54rpx 0 0;
}

.edu_name {
  font-size: 34rpx;
  line-height: 48rpx;
}

.edu_pro {
  font-size: 28rpx;
  color: rgba(128, 128, 128, 1);
  line-height: 40rpx;
  padding: 24rpx 0 2rpx 0;
}

.edu_time {
  font-size: 28rpx;
  font-weight: 400;
  color: rgba(128, 128, 128, 1);
  line-height: 40rpx;
}

.comp_item {
  padding: 34rpx 24rpx 28rpx 0;
  border-bottom: 2rpx solid #f2f2f2;
}

.comp_item:last-child {
  border-bottom: none;
}

.workep_top {
  display: flex;
  margin-bottom: 24rpx;
  justify-content: space-between;
  padding-right: 20rpx;
}

.workep_top_l {
  display: flex;
  align-items: center;
}

.comp_img {
  width: 128rpx;
  height: 128rpx;
  border-radius: 64rpx;
  margin-right: 54rpx;
}

.comp_pro {
  font-size: 34rpx;
  line-height: 48rpx;
}

.comp_name {
  font-size: 28rpx;
  color: rgba(128, 128, 128, 1);
  line-height: 40rpx;
  padding: 6rpx 0 2rpx 0;
}

.comp_time {
  font-size: 28rpx;
  color: rgba(128, 128, 128, 1);
  line-height: 40rpx;
}

.comp_label {
  font-size: 30rpx;
  line-height: 42rpx;
  margin-bottom: 10rpx;
}

.comp_info {
  font-size: 30rpx;
  color: rgba(128, 128, 128, 1);
  line-height: 42rpx;
}

.cert_item {
  display: flex;
  padding: 18rpx 28rpx 40rpx 0;
  border-bottom: 2rpx solid #f2f2f2;
}

.cert_item:last-child {
  border-bottom: none;
}

.cert_img {
  flex-shrink: 0;
  width: 240rpx;
  height: 168rpx;
  margin-right: 36rpx;
}

.cert_label {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 28rpx;
  line-height: 40rpx;
  margin-bottom: 16rpx;
}

.cert_desc {
  font-size: 28rpx;
  color: rgba(128, 128, 128, 1);
  line-height: 40rpx;
}

.add_wrap {
  display: flex;
  height: 108rpx;
  align-items: center;
  justify-content: center;
}

.add_img {
  font-size: 56rpx;
  color: #fc8b48;
  height: 80rpx;
}

.add_label {
  font-size: 32rpx;
  padding-left: 15rpx;
}

.cert_r{
  flex: 1;
}