<!--pages/addTest/addTest.wxml-->
<view class="wrap">
  <view class="item">
    <view>主题</view>
    <input class="in" placeholder="请输入主题名称" placeholder-class="com_in_plar" bindinput="nameIn"></input>
  </view>
  <view class="item">
    <view>参加部门</view>
     <view class="in in_select" bindtap="departmentToggle" data-status="1">
      <view class="in_select_txt" >{{scope}}</view>
      <view class="arrow_right"></view>
    </view>
  </view>
  <view class="item">
    <view>开始时间</view>
    <picker mode="date" bindchange="startDateChange">
      <view class="item_select">
        <view>
          <text class="time_label" wx:if="{{!startDate}}">请选择开始时间</text>{{startDate}}</view>
        <image class="right_img" src="../../img/right_arrows.png"></image>
      </view>
    </picker>
  </view>
  <view class="item">
    <view>结束时间</view>
    <picker mode="date" bindchange="endDateChange">
      <view class="item_select">
        <view>
          <text class="time_label" wx:if="{{!endDate}}">请选择结束时间</text>{{endDate}}</view>
        <image class="right_img" src="../../img/right_arrows.png"></image>
      </view>
    </picker>
  </view>
  <view class="com_btn next_btn" bindtap="next">选择题库</view>
</view>
<view class="mask" wx:if="{{departmentShow}}">
  <view class="role_wrap">
    <view class="role_title">部门选择</view>
    <image class="role_close" src="../../img/close.png" bindtap="departmentToggle" data-status="2"></image>
    <picker-view class="role_view" indicator-style="height: 50px;" bindchange="departmentChange">
      <picker-view-column>
        <view class="role_item" style="line-height:50px;" wx:for="{{departmentList}}" wx:key="{{item.id}}">{{item.name}}</view>
      </picker-view-column>
    </picker-view>
    <view class="com_btn confrim" bindtap="departmentToggle" data-status="2">确定</view>
  </view>
</view>