<!--pages/companyManegeOffer/companyManegeOffer.wxml-->
<view class="item" wx:for="{{offers}}" wx:key="{{item.id}}" bindtap="toDetail" data-num="{{index}}">
  <view>
    <view class="pro">{{item.job.name}}</view>
    <view class="info">
      <text class="name">{{item.user.name}}</text>入职offer
      <text></text>
    </view>
  </view>
  <view class="item_r">
    <image class="item_img" src="{{item.status==1?'../../img/wait@2x.png':item.status==2?'../../img/accept@2x.png':'../../img/reject@2x.png'}}"></image>
    <view class="item_r_text">{{item.status==1?'等待':item.status==2?'接受':'拒绝'}}</view>
  </view>
</view>
<block wx:if="{{offers.length==0}}">
  <view class="no_data_wrap">
    <image class="no_data_bg" src="../../img/resume_bg.png"></image>
    <view class="no_data_inner">
      <view class="time">{{time}}</view>
      <view class="no_data_t">Hi 你好</view>
      <view class="no_data_c">
        您还未发出任何offer哦~
      </view>
    </view>
  </view>

</block>