<!--pages/userOffer/userOffer.wxml-->
<view class="item" wx:for="{{list}}" wx:key="{{item.id}}" bindtap="toDetail" data-num="{{index}}">
  <block wx:if="{{item.status==1}}">
    <view class="inner" bindtouchstart="touchS" bindtouchmove="touchM" bindtouchend="touchE" data-index="{{index}}" style="{{item.txtStyle}}">
      <view class="company_name">{{item.company.name}}</view>
      <view class="pro">{{item.job.name}}</view>
    </view>
    <view class="opr_wrap">
      <view class="opr_reject" data-index="{{index}}" catchtap="delItem" data-type="3">拒绝</view>
      <view class="opr_agree" data-index="{{index}}" catchtap="delItem" data-type="2">接受</view>
    </view>
  </block>
  <block wx:else>
    <view class="other">
      <view>
        <view class="company_name">{{item.company.name}}</view>
        <view class="pro">{{item.job.name}}</view>
      </view>
      <text>{{item.status==2?'已接受':'已拒绝'}}</text>
    </view>
  </block>
</view>
<block wx:if="{{list.length==0}}">
  <view class="no_data_wrap">
    <image class="no_data_bg" src="../../img/resume_bg.png"></image>
    <view class="no_data_inner">
      <view class="time">{{time}}</view>
      <view class="no_data_t">Hi {{name}}</view>
      <view class="no_data_c">
        您还未收到任何offer哦~
      </view>
      <view class="no_data_c">继续加油哦~</view>
    </view>
  </view>

</block>