<!--pages/companyMessage/companyMessage.wxml-->
<view class="hd_wrap">
  <view class="hd_nav" bindtap="changeType">
    <view class="hd_nav_l {{type==1&&'hd_nav_choose'}}" data-type="1">系统消息</view>
    <view data-type="2" class="{{type==2&&'hd_nav_choose'}}">用户消息</view>
  </view>
</view>
<view class="gap"></view>
<block wx:if="{{cardId==1&&type==2&&!isInner}}">
  <view class="job_label">岗位匹配（{{cardId==1?apply.length:company.length}}）</view>
  <view class="job_wrap">
    <view class="job_scroll">
      <view class="job_hint">
        <image class="job_wait" src="../../img/wait_img.png"></image>
        <view class="job_hint_txt">等待中</view>
      </view>
      <image bindtap="checkResult" class="jober_img" src="{{item.user.logo?'https://futurenext.com.cn/'+item.user.logo:'../../img/avatar_default.png'}}" wx:for="{{apply}}" data-jobid="{{item.jobid}}" data-userid="{{item.user.id}}" wx:key="{{item.id}}"></image>
    </view>
  </view>
</block>
<block wx:if="{{cardId==4&&type==2}}">
  <view class="job_label">岗位匹配（{{cardId==1?apply.length:company.length}}）</view>
  <view class="job_wrap">
    <view class="job_scroll">
      <view class="job_hint">
        <image class="job_wait" src="../../img/wait_img.png"></image>
        <view class="job_hint_txt">等待中</view>
      </view>
      <image bindtap="answer" class="jober_img" src="../../img/avatar_default.png" wx:for="{{company}}" data-num="{{index}}" data-userid="{{item.userid}}" wx:key="{{item.id}}"></image>
    </view>
  </view>
</block>
<view class="wrap">
  <view class="list" wx:for="{{sysMessages}}" wx:key="{{item.id}}" bindtap="toDetail" data-num="{{index}}" data-user="{{item.userid||''}}" data-company="{{item.company.id||item.company_userid||''}}" data-employee="{{item.employeeid||''}}" data-channelid="{{item.channelid||''}}">
    <view class="inner" bindtouchstart="touchS" bindtouchmove="touchM" bindtouchend="touchE" data-index="{{index}}" style="{{item.txtStyle}}">
      <image class="avatar" src="{{userInfo.user.logo?'https://futurenext.com.cn/'+userInfo.user.logo:'../../img/avatar_default.png'}}" wx:if="{{type==1&&cardId==1}}"></image>
      <image class="avatar" src="{{userInfo.logo?'https://futurenext.com.cn/'+userInfo.logo:'../../img/avatar_default.png'}}" wx:if="{{type==1&&(cardId==3||cardId==4)}}"></image>
      <image class="avatar" src="{{item.company.user.logo?'https://futurenext.com.cn/'+item.company.user.logo:'../../img/avatar_default.png'}}" wx:if="{{type==2&&(cardId==3||cardId==4)}}"></image>
      <image class="avatar" src="{{(item.employee.logo||item.user.logo)?(item.employee.logo?'https://futurenext.com.cn/'+item.employee.logo:'https://futurenext.com.cn/'+item.user.logo):'../../img/avatar_default.png'}}" wx:if="{{type==2&&cardId==1}}"></image>
      <view class="info_wrap">
        <view class="info">
          <view class="label">{{type==1?'系统消息':cardId==1?item.user.name||item.employee.name:item.company.name||item.channel.subject}}</view>
          <view class="time">{{item.lastmodified}}</view>
        </view>
        <view class="content">{{item.text}}</view>
      </view>
    </view>
      <view class="delete" data-index="{{index}}" catchtap= "delItem" data-channelid="{{item.channelid||''}}">
        <image class="delete_img" src="../../img/delete@2x.png"></image>
        <view>删除</view>
      </view>
  </view>
</view>
<view class="nav_outer">
  <view class="nav_wrap">
    <navigator class="nav" url="{{cardId==1?(isInner?'/pages/intlTanlMange/intlTanlMange':'/pages/recruit/recruit'):cardId==3?'/pages/staffCommu/staffCommu':'/pages/personalHome/personalHome'}}" open-type="redirect">
      <image class="{{'home'}}" src="{{cardId==1?'../../img/home.png':cardId==3?'../../img/communication.png':'../../img/stationunpicked.png'}}"></image>
      <text>{{cardId==1?(isInner?'内部人才':'外部人才'):cardId==3?'沟通桥':'职位'}}</text>
    </navigator>
    <navigator class="nav" url="{{cardId==1?(isInner?'/pages/intelCommu/intelCommu':'/pages/postManage/postManage'):cardId==3?'/pages/staffCommu/staffCommu':'/pages/personalResume/personalResume'}}" open-type="redirect">
      <image class="home" src="{{cardId==1?(isInner?'../../img/communication.png':'../../img/stationunpicked.png'):'../../img/resume.png'}}"></image>
      <text>{{cardId==1?(isInner?'沟通桥':'岗位管理'):cardId==3?'履历':'简历'}}</text>
    </navigator>
    <view class="nav nav_choose_text">
      <image class="massage" src="../../img/massagepicked2.png"></image>
      <text>信息</text>
    </view>
    <navigator class="nav" url="{{cardId==1?'/pages/companyMy/companyMy':cardId==3?'/pages/staffMy/staffMy':'/pages/personalMy/personalMy'}}" open-type="redirect">
      <image class="massage" src="../../img/me.png"></image>
      <text>我的</text>
    </navigator>
  </view>
</view>