<!--pages/companyBasicInfo/companyBasicInfo.wxml-->
<view class="wrap">
  <view class="in_wrap" bindtap="uploadLogo">
    <text class="label">头像</text>
    <image class="avatar" src="{{logo?logo:'../../img/avatar_default.png'}}"></image>
  </view>
  <view class="in_wrap">
    <text class="label">企业名称</text>
    <input value="{{userInfo.name}}" class="in_val" bindinput="nameIn"></input>
  </view>
  <view class="in_wrap">
    <text class="label">营业执照号</text>
    <input value="{{userInfo.license_code}}" class="in_val" bindinput="licensecodeIn"></input>
  </view>
  <view class="upload_wrap">
    <view class="upload_inner">
      <image class="upload_img" src="{{currentImg?currentImg:userInfo.license_file}}"></image>
    </view>
    <view class="com_btn upload_btn" bindtap="upload">上传营业执照副本照片</view>
  </view>
  <view class="in_wrap">
    <text class="label">法人代表</text>
    <input value="{{userInfo.legal_person}}" class="in_val" bindinput="legalpersonIn"></input>
  </view>
  <view class="in_wrap">
    <text class="label">办公地址</text>
    <input value="{{userInfo.address}}" class="in_val" bindinput="addressIn"></input>
  </view>
  <view class="in_wrap">
    <text class="label">联系人</text>
    <input value="{{userInfo.contact}}" class="in_val" bindinput="contactIn"></input>
  </view>
  <view class="item" bindtap="staffSizeToggle" data-status="1">
    <text>人员规模</text>
    <view class="item_r">
      <input disabled placeholder="请选择人员规模" placeholder-class="com_in_plar" class="in" value="{{staffSize}}"></input>
      <view class="arrow_right"></view>
    </view>
  </view>
  <view class="item" bindtap="companyTypeToggle" data-status="1">
    <text>公司类型</text>
    <view class="item_r">
      <input disabled placeholder="请选择公司类型" placeholder-class="com_in_plar" class="in" value="{{companyType}}"></input>
      <view class="arrow_right"></view>
    </view>
  </view>
  <view class="item" bindtap="listedToggle" data-status="1">
    <text>是否上市</text>
    <view class="item_r">
      <input disabled placeholder="请选择是否上市" placeholder-class="com_in_plar" class="in" value="{{listed}}"></input>
      <view class="arrow_right"></view>
    </view>
  </view>
  <view class="business_label">所属行业</view>
<textarea class="business_in" wx:if="{{!staffSizeShow&&!companyTypeShow&&!listedShow}}" placeholder="请描述一下您的主营业务吧~" placeholder-class="com_in_plar" value="{{main_business}}" bindinput="main_businessIn"></textarea>
  <view class="btn_wrap">
    <navigator class="cancel" open-type="navigateBack" delta="1">取消</navigator>
    <view class="com_btn save" bindtap="updateInfo">更新</view>
  </view>
</view>
<view class="mask" wx:if="{{staffSizeShow}}">
  <view class="role_wrap">
    <view class="role_title">人员规模</view>
    <image class="role_close" src="../../img/close.png" bindtap="staffSizeToggle" data-status="2"></image>
    <picker-view class="role_view" indicator-style="height: 50px;" bindchange="staffSizeChange">
      <picker-view-column>
        <view class="role_item" style="line-height:50px;" wx:for="{{staffSizeArr}}" wx:key="{{index}}">{{item.name}}</view>
      </picker-view-column>
    </picker-view>
    <view class="com_btn confrim" bindtap="staffSizeToggle" data-status="2">确定</view>
  </view>
</view>
<view class="mask" wx:if="{{companyTypeShow}}">
  <view class="role_wrap">
    <view class="role_title">公司类型</view>
    <image class="role_close" src="../../img/close.png" bindtap="companyTypeToggle" data-status="2"></image>
    <picker-view class="role_view" indicator-style="height: 50px;" bindchange="companyTypeChange">
      <picker-view-column>
        <view class="role_item" style="line-height:50px;" wx:for="{{companyTypeArr}}" wx:key="{{index}}">{{item.name}}</view>
      </picker-view-column>
    </picker-view>
    <view class="com_btn confrim" bindtap="companyTypeToggle" data-status="2">确定</view>
  </view>
</view>
<view class="mask" wx:if="{{listedShow}}">
  <view class="role_wrap">
    <view class="role_title">是否上市</view>
    <image class="role_close" src="../../img/close.png" bindtap="listedToggle" data-status="2"></image>
    <picker-view class="role_view" indicator-style="height: 50px;" bindchange="listedChange">
      <picker-view-column>
        <view class="role_item" style="line-height:50px;" wx:for="{{listedArr}}" wx:key="{{index}}">{{item.name}}</view>
      </picker-view-column>
    </picker-view>
    <view class="com_btn confrim" bindtap="listedToggle" data-status="2">确定</view>
  </view>
</view>