<!--pages/staffAuth/staffAuth.wxml-->
<view class="list" wx:for="{{employeeLists}}" wx:key="{{item.id}}">
  <view class="list_l">
  <image class="avatar" src="{{'https://futurenext.com.cn/'+item.logo}}"></image>
    <view>
      <view class="name">{{item.name}}</view>
      <view class="info">{{item.sex?'女':'男'}}/{{item.age}}/{{item.position||'暂无'}}/{{item.ismarried?(item.ismarried==0?'未婚':item.ismarried==1?'已婚未育':'已婚已育'):'暂无'}}</view>
      <view class="title">{{item.title.name}}</view>
      <view class="tel">{{item.telephone}}</view>
    </view>
  </view>
  <view class="list_r">
    <view class="agree" bindtap="opre" data-num="{{index}}" data-id="{{item.id}}" data-status="3">接受</view>
    <view class="refus" bindtap="opre" data-num="{{index}}" data-id="{{item.id}}" data-status="2">拒绝</view>
  </view>
</view>
