/* pages/chooseSchool/chooseSchool.wxss */

page {
  background: #f2f2f2;
}

.search_wrap {
  background: #fff;
  display: flex;
  align-items: center;
  padding: 50rpx 0 20rpx 20rpx;
  color: #999999;
  font-size: 28rpx;
}

.search {
  display: flex;
  align-items: center;
  width: 632rpx;
  height: 78rpx;
  background: rgba(255, 255, 255, 1);
  border-radius: 39rpx;
  border: 1rpx solid rgba(151, 151, 151, 1);
  margin-right: 22rpx;
}
.search_img{
  width: 40rpx;
  height: 40rpx;
  margin: 0 28rpx 0 24rpx;
}
.in{
  flex: 1;
  color: #333;
  font-size: 28rpx;
}
.del_wrap{
  display: flex;
  align-items: center;
  justify-content: center;
  width:44rpx;
  border-radius: 22rpx;
height:44rpx;
background:rgba(230,230,230,1);
margin-right: 18rpx;
}
.del_img{
  width: 20rpx;
  height: 20rpx;
}
.item{
  display: flex;
  align-items: center;
  height: 90rpx;
  padding-left: 44rpx;
}
.item_img{
  width: 32rpx;
  height: 32rpx;
  margin-right: 24rpx;
}
.item_r{
  height: 100%;
  flex: 1;
  border-bottom: 2rpx solid #E6E6E6;
  line-height: 90rpx;
}
.comfrin{
  color: #FC8B48;
}